<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.storeservice.dao.UserMapper">

    <update id="updateByUid" parameterType="com.store.storeservice.bean.db.TableUser">
        update user_info
        set name=#{user.name},sex=#{user.sex},nick_name=#{user.nick_name},level=#{user.level}
        where uid=#{user.uid}
    </update>
</mapper>